{% extends "./base.html" %} {% block title %} Editar Empleado {% endblock %}
{%block body %}
<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2>Gestion de Empleados</h2>
    <div class="card">
      <div class="card-body">
        <form action="/edicionServicio/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="number"
              id="ID"
              name="ID"
              value="{{servicio.Codigo_Servicio}}"
              class="form-control"
              placeholder=""
              readonly
            />
          </div>
          <br>
          <div class="form-group">
            <input
              type="text"
              id="nombre"
              name="nombre"
              value="{{servicio.Nombre}}"
              class="form-control"
             
              required
            />
          </div>
          <br>
          <div class="form-group">
            <input
              type="text"
              id="precio"
              name="precio"
              value="{{servicio.Precio}}"
              class="form-control"
              
              
            />
          </div>
          <br>
          <div class="form-group">
            <input
              type="text"
              id="descripcion"
              name="descripcion"
              value="{{servicio.Descripcion}}"
              class="form-control"
              
              
            />
          </div>
          <br>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block text-white">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
